body {
    background-color: #f2f2f2;
    font-family: Arial;
}

.contenedor {
    width: 300px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}
