body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.contenedor {
    width: 300px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
}

img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 8px 15px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 10px;
    font-weight: bold;
}

