body{
font-family: Arial;
background:#f2f4f7;
}

.login-box, .panel{
background:white;
width:350px;
margin:80px auto;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
text-align:center;
}

input{
width:90%;
padding:8px;
margin:6px;
}

button{
padding:10px;
width:90%;
margin-top:8px;
border:none;
border-radius:5px;
cursor:pointer;
}

.verde{background:#198754;color:white;}
.amarillo{background:#ffc107;}
.rojo{background:#dc3545;color:white;}
.azul{background:#0d6efd;color:white;}
